html, body {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi-Variable', 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    padding: 40px 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

nav a {
    border-bottom: 0 !important;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 30px;
}

nav a:hover, nav a:focus, nav a:active, nav a:visited {
    border-bottom: 0 !important;
    display: flex;
}

nav .nav-right {
    display: flex;
}

section {
    margin-top: 120px;
}

p, li {
    font-size: 30px;
    font-variation-settings: 'wght' 460.0;
    line-height: 160%;
    max-width: 780px;
}

li {
    margin-bottom: 10px;
    max-width: 100%;
}

a, a:active, a:focus, a:visited {
    color: black;
    text-decoration: none;
    font-variation-settings: 'wght' 670.0;
    height: 42px;
    display: inline-block;
    border-bottom: 3px solid rgb(228, 227, 227);
    transition: border 0.2s ease-out;
    word-break: keep-all;
}

a:hover {
    border-bottom: 3px solid rgb(0, 0, 0);
}

h1 {
    font-size: 34px;
    font-variation-settings: 'wght' 670.0;
}

.emphasize {
    /* font-variation-settings: 'wght' 670.0; */
    background-color: #d5dfb3;
    padding: 2px 5px;
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 60px;
    }

    body {
        padding: 20px 15px;
    }

    p, li {
        font-size: 22px;
    }

    a, a:active, a:focus, a:visited {
        height: 30px !important;
    }
    h1 {
        font-size: 26px !important;
    }
    section {
        margin-top: 60px;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        padding: 15px;
    }    
}